<?xml version="1.0"?>

<!--
 * @author      Andreas Knollmann
 * @copyright   2014-2025 Softwareentwicklung Andreas Knollmann
 * @license     http://www.opensource.org/licenses/mit-license.php MIT
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product\Option">
        <arguments>
            <argument name="optionGroups" xsi:type="array">
                <item name="product" xsi:type="string">Infrangible\CatalogProductOptionProduct\Model\Product\Option\Type\Product</item>
            </argument>
            <argument name="optionTypesToGroups" xsi:type="array">
                <item name="product" xsi:type="string">product</item>
            </argument>
        </arguments>
        <plugin name="infrangible_catalogproductoptionproduct" type="Infrangible\CatalogProductOptionProduct\Plugin\Catalog\Model\Product\Option"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Type\AbstractType">
        <plugin name="infrangible_catalogproductoptionproduct" type="Infrangible\CatalogProductOptionProduct\Plugin\Catalog\Model\Product\Type\AbstractType"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="infrangible_catalogproductoptionproduct" type="Infrangible\CatalogProductOptionProduct\Plugin\Quote\Model\Quote\Item"/>
    </type>
</config>
