<?xml version="1.0"?>

<!--
 * @author      Andreas Knollmann
 * @copyright   Copyright (c) 2014-2025 Softwareentwicklung Andreas Knollmann
 * @license     http://www.opensource.org/licenses/mit-license.php MIT
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_option_price_item_options">
        <observer name="infrangible_catalogproductoptionproduct" instance="Infrangible\CatalogProductOptionProduct\Observer\CatalogProductOptionPriceItemOptions"/>
    </event>
    <event name="catalog_product_option_price_item_renderer">
        <observer name="infrangible_catalogproductoptionproduct" instance="Infrangible\CatalogProductOptionProduct\Observer\CatalogProductOptionPriceItemRenderer"/>
    </event>
</config>
